@font-face {
  font-family: "fragment_monoregular";
  src: url("https://cdn.glitch.global/36cacc48-ab80-4b9a-a2d9-124504d8fefc/fragmentmono-regular-webfont.woff2?v=1696609639298")
      format("woff2"),
    url("https://cdn.glitch.global/36cacc48-ab80-4b9a-a2d9-124504d8fefc/fragmentmono-regular-webfont.woff?v=1696609638907")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
}

img {
opacity: 1;
animation: appear 1s ;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
  
}

body {
  position: relative;
  height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url("https://cdn.glitch.global/36cacc48-ab80-4b9a-a2d9-124504d8fefc/380764012_337502298784824_6507279085213812931_n%201.png?v=1696597006509");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin: 0;
  
}

a {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

/*  for phone */

.textcontainer {
  position: fixed;
  margin: 10vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 70vh;
  z-index: 3;
  border-radius: 20px;
  display: none;
  padding: 40px;
  overflow-y: scroll;
  text-align: justify;
}

.textcontainer::-webkit-scrollbar {
  display: none;
}

.sheeptext {
  background-color: #656537;
}
.ducktext {
  background-color: #b4a572;
}
.cowtext {
  background-color: #CBA865;
}
.dragontext {
  background-color: #A1B4AB;
}
.tabletext {
  background-color: #7D715A; 
}
.kojatext {
  background-color: #7A8BB2;
}
.tauretext {
  background-color: #99759A;
}
.gyvatetext {
  background-color: #738067;
}
.sheep1 {
  position: absolute;
  height: 70px;
  width: 70px;
  bottom: 200px;
  left: 10vw;
  cursor: pointer;
  z-index: 1;
}

.sheep1.z-index-4 {
  z-index: 4;
}


.duck1 {
  position: absolute;
  height: 90px;
  width: 70px;
  bottom: 100px;
  right: 10vw;
  cursor: pointer;
  z-index: 1;
}

.duck1.z-index-4 {
  z-index: 4;
}


.cow1 {
  position: absolute;
  height: 90px;
  width: 110px;
  bottom: 10vh;
  left: 40vw;
  cursor: pointer;
  z-index: 1;
}

.cow1.z-index-4 {
  z-index: 4;
}


.dragon {
  position: absolute;
  width: 50vw;
  top: 200px;
  left: 100vw;
  cursor: pointer;
  z-index: 1; 
  animation: dragon 10s infinite linear;
}

.dragon.z-index-4 {
  z-index: 4;
}

@keyframes dragon {
  from {left: 100vw;}
  to {left: -100vw;}
}



.table {
  position: absolute;
  height: 100px;
  bottom: 10vh;
  right: 30vw;
  cursor: pointer;
  z-index: 1;
}

.table.z-index-4 {
  z-index: 4;
}




.koja {
  position: absolute;
  height: 100px;
  bottom: 10vh;
  left: 5vw;
  cursor: pointer;
  z-index: 1;
}

.koja.z-index-4 {
  z-index: 4;
}


.taure{
  position: absolute;
  height: 75px;
  bottom: 30vh;
  right: 15vw;
  cursor: pointer;
  z-index: 1;
}

.taure.z-index-4 {
  z-index: 4;
}


.gyvate {
  position: absolute;
  height: 50px;
  bottom: 10vh;
  left: 15vw;
  cursor: pointer;
  z-index: 1;
}

.gyvate.z-index-4 {
  z-index: 4;
}



/* for pc */
@media only screen and (min-width: 900px) {
    body {
    position: relative;
    height: 100vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-image: url("https://cdn.glitch.global/36cacc48-ab80-4b9a-a2d9-124504d8fefc/367653966_824599395724177_2801362967303703760_n%20(1)%201.png?v=1697148992949");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 35% bottom 15%;
    overflow: hidden;
   margin: 0;
  }
  
  .textcontainer {
    position: fixed;
    margin: 20px;
    z-index: 3;
    border-radius: 20px;
    display: none;
    padding: 40px;
    overflow-y: scroll;
    text-align: justify;
  }
  
  
    .sheeptext {
    top: 10vh;
    left: 15vw;
    height: 400px;
    width: 300px;
    background-color: #656537;
 
  }
  
   .ducktext {
    left: 50vw;
    top: 10vh;
    height: 500px;
    width: 400px;
    background-color: #b4a572;
    
  }
  .cowtext {
    top: 10vh;
    right: 100px;
    height: 500px;
    width: 400px;
    background-color: #CBA865;
  }
  
  .dragontext {
    top: 10vh;
    left: 20vw;
    height: 500px;
    width: 400px;
    background-color: #A1B4AB;
  }
  
  .dragon {
  position: absolute;
  width: 20vw;
  top: 10vh;
  left: 100vw;
  cursor: pointer;
  z-index: 1; 
  animation: dragon 20s infinite linear;
}

@keyframes dragon {
  from {left: 100vw;}
  to {left: -100vw;}
}

}

